[color]
  ui = auto
[alias]
  ci = commit
  st = status
  wc = whatchanged
  co = checkout
  cp = cherry-pick
  graph = log --graph --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
  wd = diff --color --word-diff=color
[user]
  name = Yvon Cognard
  email = yvon.cognard@quelleenergie.fr
[core]
  pager = "pager.sh"
  whitespace = tab-in-indent,space-before-tab,trailing-space
[push]
  default = tracking
[merge]
  tool = meld
