xterm*background:  black
xterm*cursorColor: lightgrey
xterm*foreground:  white

URxvt*transparent: false
URxvt*saveLines: 12000
URxvt*foreground: #eeeeee
URxvt*background: #000000
URxvt*font: xft:Terminus:pixelsize=18
URxvt.termName: xterm
URxvt*scrollBar: false
URxvt*scrollstyle: rxvt
